{% include 'base_temp.html' %}

<form id = "find" action="#" method="post">

<div class="twocols">
    <p>Batch Size*</p>
    <p><input id="batch-size" type="number" step="1" name= 'sz' value="1"></p>
</div>
    <div class="twocols">
    <p>Batch Number*</p>
    <p><input id="batch-number" type="number" step="1" name= 'nm' value="1"></p>
</div>

{% include 'mandatory.html' %}

<div id="rendercontents">
    <div class="title">
      Airport IATA Codes
    </div>
  </div>
  
  <!-- <script src="../static/js/ajax.js"></script>
  <script src="../static/js/cart1.js"></script> -->
  </body>
  </html>