<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_79956aa61df64f4cba100016aaca0aee {
                    position: absolute;
                    width: 40.0%;
                    height: 40.0%;
                    left: 55.0%;
                    top: 10.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_79956aa61df64f4cba100016aaca0aee" ></div>
        
</body>
<script>    
    
            var map_79956aa61df64f4cba100016aaca0aee = L.map(
                "map_79956aa61df64f4cba100016aaca0aee",
                {
                    center: [29.950596, 32.574362],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_ef0ee962829e4791bcdac573019ae807 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_79956aa61df64f4cba100016aaca0aee);
        
    
        function geo_json_c2e0ca7b4d314a2aab9ba676d6d0d4eb_onEachFeature(feature, layer) {
            layer.on({
                click: function(e) {
                    map_79956aa61df64f4cba100016aaca0aee.fitBounds(e.target.getBounds());
                }
            });
        };
        var geo_json_c2e0ca7b4d314a2aab9ba676d6d0d4eb = L.geoJson(null, {
                onEachFeature: geo_json_c2e0ca7b4d314a2aab9ba676d6d0d4eb_onEachFeature,
            
        });
        function geo_json_c2e0ca7b4d314a2aab9ba676d6d0d4eb_add (data) {
            geo_json_c2e0ca7b4d314a2aab9ba676d6d0d4eb.addData(data)
                .addTo(map_79956aa61df64f4cba100016aaca0aee);
        }
            geo_json_c2e0ca7b4d314a2aab9ba676d6d0d4eb_add({"bbox": [32.52261353185986, 29.905439682621253, 32.6262506624747, 29.995650370944702], "features": [{"bbox": [32.52261353185986, 29.905439682621253, 32.6262506624747, 29.995650370944702], "geometry": {"coordinates": [[[32.62615719939991, 29.905480323074162], [32.52261353185986, 29.905439682621253], [32.52261353185986, 29.995650370944702], [32.6262506624747, 29.99560958311394], [32.62615719939991, 29.905480323074162]]], "type": "Polygon"}, "id": "0", "properties": {}, "type": "Feature"}], "type": "FeatureCollection"});
        
</script>